<md-list>
    <md-list-item ng-repeat="player in players track by player._id" class="md-2-line md-no-proxy">
        <div class="md-list-item-text">
            <h3>
                <a ui-sref="players.view({id: player._id})">{{::player.firstName}} {{::player.lastName}}</a>
            </h3>
        </div>

        <div class="md-secondary">
            <md-button ui-sref="players.edit({id: player._id})" class="md-icon-button" aria-label="edit">
                <md-icon>edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="deletePlayer(player)" aria-label="delete">
                <md-icon class="md-warn">delete</md-icon>
            </md-button>
        </div>
    </md-list-item>
</md-list>

<md-button ui-sref="players.new" class="md-raised md-primary">Create Player</md-button>